*{
    font-family: arial;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#content{
    flex: 1;
}
footer{
    
    display:flex;
    font-size: 11px;
    background-color: rgb(35, 49, 61);
    color: rgb(190, 194, 197);
    /* padding: 0 10px; */
    position: relative;
   
}
.box{
    flex: 1;
   margin: 5px 9px;
}
span{
    font-weight:600;
    font-weight:550;
    font-size:14px ;
}
.box span:nth-child(2){
color: rgb(243, 111, 3);
}
hr{
   
    height: 1.5px;
    background-color: rgb(72, 71, 80);
    border: none;
}
#first{
    flex: 2;
    width: 500px;
}
li{
    margin: 9px auto;
}

img{
    height: 18%;
    width: 18%;
    border-radius: 50%;
    filter: grayscale(100);
    
}
img:hover{
filter: grayscale(0);
}
#playstore{
    height:19%;
    width: 60%;
    border-radius: 6px;
}



