*{
 font-family: Cursive;
}
table{
    margin: auto;
    background-color: #F6A5A2;
    color: #591778;
    width: 280px;
    height: 250px;
}
input{
 border:0;
}
output{
    color: black;
    font-size: 18px;
}